/* LOGIN */
.login-card-container{
    width: -moz-available;
    padding: 50px;
}
#login-submit{
    border-radius:50px !important;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    color:black;
}
.login-card{
    top:100px;
    position: absolute;
    height:600px;
    width:550px;
    background-color:rgba(255,255,255,1);
    border-radius:50px;
    margin:auto;
    left:0;
    right:0; 
    -webkit-box-shadow: 7px 10px 59px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 59px 3px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 59px 3px rgba(0,0,0,0.75);
}
.landing{
    background-image:url('../static/img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    color:rgb(0, 0, 0);
}
.landing:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 51, 255, 0.75);
    z-index: -1;
    top: 0;
    left: 0;
}

#landing-register{
    position: absolute;
    border-radius: 50px;
    top: 530px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 30px;
    width: 500px;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    font-weight: 200;
}   

.login-card-container{
    width: -moz-available;
    padding: 50px;
}

#login-heading{
    font-family: Billabong;
    font-size: 80px;
    text-align: center;
}