@font-face {
    font-family: 'Billabong';
    src: url('./fonts/Billabong/Billabong.ttf'); /* IE9 Compat Modes */
}

html, body {
	padding: 0;
	margin: 0;
}

.profileImage {
	width: 200px;
}

.profileinfo {
	width: 100%;
}

.profileItem {
	display: inline-block;
	background-color: red;
}
