<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
{% extends 'layout.html' %}
{% block body %}
{% include 'includes/_messages.html' %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="feed">
<div class="topmenu">
		<div class="menuItem"><span class="fa fa-user fa-lg" style="color:white; padding-right:10px;"></span><a href="/profile">My Profile</a></div>    
    <div class="menuItem" style="float: right;"><span class="fa fa-power-off fa-lg" style="color:white; padding-right:10px;"></span><a href="/logout">Logout</a></div>
    
</div>
<div class="card" id="newactivity">
    <div class="cardcontainer">
      <h2 class="newsfeed-header">Create a post</h2>
      <form action="/feed" method="POST">
        <div class="form-group">
          {{render_field(form.title, placeholder="Project Title", class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.body ,  placeholder="The next big thing...",class_="form-control")}}
        </div>
        <!-- <textarea class="activitytext" placeholder="Insert content here!"></textarea> <br /> -->
        <button id = "post-activity-btn" class="button btn-block btn-lg">Post</button>
      </form>
    </div>
</div>
<div class="card" id="newsfeed">
  <div class="cardcontainer">
    <h2 class="newsfeed-header">Projects</h2>
    {% for post in posts %}
    <div class="card">
      <div class="cardcontainer">
        <table>
          <tr>
            <td width=20%><a href="/profile/{{post['author']}}"><img class="profilepic" src="{{users.find_one({'username' : post['author']})['pic']}}"></a></td>
            <td>
              <div>
              <h2><b>{{post['author']}}</b> posted "{{post['title']}}"</h2> 
              </div>
            </td>
        <td>
        </td>      
          </tr>
          
        </table>
        <hr>
        <!-- <h2 class="post-title"><span><b>Post title: </b> </span>{{post['title']}}</h2> -->
        <p>{{post['body']}}</p>   
          <button id="chat-button" class="btn btn-primary">Chat now  <i class="fa fa-comment" aria-hidden="true"></i></button>
            <!-- <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-weixin" aria-hidden="true"></i>                       -->

        <!-- <span class="time">{{post['time']}}</span> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- <table width="100%">
  <tr>
    <td valign="top">
      <div class="card">
        <div class="cardcontainer">
          <h2>New Activity</h2>
          <input type="text" class="titletext" placeholder="Title" /> <br/>
          <textarea class="activitytext" placeholder="Insert content here!"></textarea> <br />
          <button class="button">Submit!</button>
        </div>
      </div>
    </td>
    <td width="30%" valign="top">
      <div class="card">
        <div class="cardcontainer">
          <h4>Contact & Personal Info</h4>
          <p>Email: <span>tom@myspace.com</span></p>
          <p>Website: <span>myspace.com</span></p>
          <p>Birthday: <span>July 3rd</span></p>
          <p>School: <span>Some University</span></p>
          <p>Career: <span>Developer</span></p>
        </div>
      </div>
    </td>
  </tr>
</table> -->
</div>
{% endblock %}
