<link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" /> 
{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% block body %}
{% include 'includes/_messages.html' %}
    <div class="landing">
<div class="wallpaper">        
            <!-- <div class="login-card">             -->
                <h1 class="landing-header">GitnJam</h1>
                <a href="/login"><button type="" id="landing-register" class="btn btn-primary">Login</button></a>
                <a href=""><span id="landing-login">Click here to <u>register</u></span></a>  
        </div>        
        </div>
    </div>

{% endblock %}