
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% block body %}
{% include 'includes/_messages.html' %}
<div class="topmenu">
		<div class="menuItem"><a href="#">Home</a></div>
		<div class="menuItem"><a href="#">Dashboard</a></div>
		<div class="menuItem"><a href="#">Feedback</a></div>
		<div class="menuItem"><a href="#">Ideas</a></div>
	</div>
	<div class="profileinfo">
		<div class="profileItem">
			<img class="profileImage" src="https://lovelace-media.imgix.net/uploads/259/da8e6e30-0a0e-0132-07c7-0eae5eefacd9.jpg?w=740&h=740&fit=crop&crop=faces&auto=format&q=70">
		</div>
		<div class="profileItem">
			<h2>Tom From Myspace (Front-End Developer)</h2>
			<p>
				Location: FIU! <br />
				Bio Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. <br />
			</p>
		</div>
	</div>
{% endblock %}
