
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}
{% block body %}
{% include 'includes/_messages.html' %}
<div class="profile-bg">
<div class="topmenu">
		<div class="menuItem"><span class="fa fa-rss fa-lg" style="color:white; padding-right:10px;"></span><a href="/feed">Feed</a></div>
    <!-- <div class="menuItem">
      <input type="text" class="searchbox" placeholder="Search"/>
    </div> -->
    <!-- <div class="menuItem"></div><a href="/"  id="navbar-header">GitnJam</a></div>     -->
    <div class="menuItem" style="float: right;"><span class="fa fa-power-off fa-lg" style="color:white; padding-right:10px;"></span><a href="/logout">Logout</a></div>
</div>
<div class="profilediv">
<table class="profiletable" width="100%">
  <tr>
    <td width=25% align="center">
      <img id="profilepic" src="{{user['pic']}}" />
    </td>
    <td >
      <h2>{{user['username']}}</h2>
  		<p class="bio">
  			<b>Location:</b> FIU! <br />
  			<b>Bio:</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  			consequat. <br />
  		</p>
      <!-- <p>Github:<span class="link">/tom</span>  Linkedin:<span class="link">/tom</span> Devpost:<span class="link">/tom</span></p> -->
      <i class="fa fa-github fa-lg"></i>
      <i class="fa fa-linkedin fa-lg"></i>
      <i class="fa fa-medium fa-lg"></i>
    </td>
  </tr>
</table>
</div>

<table width="100%">
  <tr>
    <td valign="top">
        <div class="card" id="newsfeed">
            <div class="cardcontainer">
              <h2 style="text-align:center">News Feed</h2>
              {% for post in posts_by_user %}
              <div class="card">
                <div class="cardcontainer">
                  <table>
                    <tr>
                      <td width=20%><a href="/profile"><img class="profilepic" src="{{user['pic']}}"></a></td>
                      <td><h4>{{post['author']}} posted "{{post['title']}}"</h4></td>
                    </tr>
                  </table>
                  <p>{{post['body']}}</p>
                  <span class="time">{{post['time']}}</span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
    </td>
    <td width="30%" valign="top">
      <div class="card">
        <div class="cardcontainer">
          <div class="bio-description">
              <h4>Contact & Personal Info</h4>
              <p><b>Email:</b> <span class="highlight">tom@myspace.com</span></p>
              <p><b>Website:</b> <span class="highlight">myspace.com</span></p>
              <p><b>School: </b><span class="highlight">Some University</span></p>
              <p><b>Major: </b><span class="highlight">Developer</span></p>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
</div>
{% endblock %}
